<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>

        <activity
            android:exported="true"
            android:name=".ui.PassCredentialProviderActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeTransparent"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.PassCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="upside_down_cake">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/credential_provider_service_configuration" />
        </service>

    </application>
</manifest>