<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.twofasapp.feature.home.ui.autofill.AutofillActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:theme="@style/AppThemeTransparent"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
